.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.paginationContainer {
  display: flex;
  gap: 8px;
}

.pageNumber {
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
}

.activePage {
  background-color: beige;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 12px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  border: 1px solid black;
  padding: 12px;
  border-radius: 12px;
}
