.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchInput {
  width: 500px;
  height: 30px;
}

.displayContainer {
  width: 500px;
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid black;
  padding: 4px;
}

.displayRecipe {
  padding: 4px;
}

.displayRecipe:hover {
  background-color: beige;
  cursor: pointer;
}
