.container {
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.addIcon {
  height: 10px;
  width: 10px;
}

.folder {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.file {
  display: flex;
  align-items: center;
  gap: 8px;
}
